<div class="container" fxLayout="column" fxLayoutGap="10px">
	<!--like the media objet/media list, with media objects in a list format. fx flex means it will be one piece of content that will be laid out-->
	
	<div fxFlex>
		<div>
			<h3>Menu</h3>
			<hr>
		</div>
	</div>
	<div fxFlex>
		<md-grid-list cols="2" rowHeight="200px">
			<!--ng for iterates over an array of items, like a for{} loop-->
			<md-grid-tile *ngFor="let dish of dishes">
				<img height="200px" src={{dish.image}} alt={{dish.name}}>
				<md-grid-tile-footer>
					<!--whatever the dish name is will be filterd as uppercase letters (angular pipe)-->
					<h1 md-list>{{dish.name  | uppercase}}</h1>
					</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>
	<!--if selected dish is null dont add it, if it is, add it -->
	<div fxFlex *ngIf="selectedDish">
		<md-card>
			<md-card-header>
				<md-card-title>
					<h3>{{selectedDish.name | uppercase }}</h3>
				</md-card-title>
			</md-card-header>
			
			<img md-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">

			<md-card-content>
				<p>{{selectedDish.description}}</p>
			</md-card-content>
			<md-card-actions>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
			</md-card-actions>
		</md-card>
	</div>
</div>