<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="selectedDish" [@visibility]="visibility" [@expand]>
    <md-card>
		<md-card-header>
			<md-card-title>
				<h3>{{selectedDish.name | uppercase }}</h3>
			</md-card-title>
		</md-card-header>
		
		<img md-card-image src="{{BaseURL + selectedDish.image}}" alt="{{selectedDish.name}}">

		<md-card-content>
			<p>{{selectedDish.description}}</p>
		</md-card-content>
		<md-card-actions>
			<button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
			<button md-button (click)="goBack()">BACK</button>
			<button md-button>LIKE</button>
			<button md-button>SHARE</button>
			<span class="flex-spacer"></span>
			<button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
		</md-card-actions>
	</md-card>
  </div>
  <div fxFlex="40" *ngIf="selectedDish" [@visibility]="visibility" [@expand]>
  		<div>
    		<h2>Comments</h2>
			<md-list *ngFor="let comment of selectedDish.comments">
				<md-list-item>
					<p md-line>{{comment.comment}}</p>
					<p md-line>{{comment.rating}} Stars</p>
					<p md-line>-- {{comment.author}} {{comment.date | date:'medium'}}</p>
				</md-list-item>
			</md-list>
			<md-list>
				<md-list-item>
				<div [hidden]="commentForm.invalid">
					<p md-line>{{commentForm.get('comment').value}}</p>
					<p md-line>{{commentForm.get('rating').value}} Stars</p>
					<p md-line>-- {{commentForm.get('author').value}}</p>
				</div>
				</md-list-item>
			</md-list>
		</div>
		<div>
			<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
			<p>
				<md-input-container class="md-block same-width" dividerColor="{{(formErrors.author ? 'warn' }: 'primary'}">
					<input mdInput formControlName="author" placeholder="Name" type="text" required>
		            <md-hint>
		              <span [hidden]="!(formErrors.author)">
		                  {{formErrors.author}}</span>
		            </md-hint>
				</md-input-container>
			</p>
			<p>
				<md-slider formControlName="rating" min="1" max="5" step="1"></md-slider>
			</p>
			<p>
				<md-input-container class="full-width same-width">
              	<textarea mdInput formControlName="comment" placeholder="Your Comment" rows=4></textarea>
            	</md-input-container>			
            </p>
            <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
			</form>
  		</div>
  </div>

  <div [hidden]="selectedDish || errMess">
    		<md-spinner></md-spinner>
    		<h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
  	<h2>Error</h2>
  	<h4>{{errMess}}</h4>
  </div>
</div>